/*  ==========================================================================
	Compass Import
	========================================================================== */
/*  ==========================================================================
	Utility Imports
	========================================================================== */
/*  ==========================================================================
    Mixins
    ========================================================================== */
/**
 * Sets font-size and line-height properties
 * - values are output twice: rem & px (px is fallback for older browsers that don't recognize rem)
 */
/*  ==========================================================================
	Helper classes
	========================================================================== */
/**
 * Prevent callout
 */
/* line 8, ../sass/0_utility/_helpers.scss */
.nocallout {
  -webkit-touch-callout: none;
}

/**
 * A hack for HTML5 contenteditable attribute on mobile
 */
/* line 15, ../sass/0_utility/_helpers.scss */
textarea[contenteditable] {
  -webkit-appearance: none;
}

/**
 * Image replacement
 */
/* line 22, ../sass/0_utility/_helpers.scss */
.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}

/* line 33, ../sass/0_utility/_helpers.scss */
.ir br {
  display: none;
}

/**
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 40, ../sass/0_utility/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/**
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 48, ../sass/0_utility/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 63, ../sass/0_utility/_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/**
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 76, ../sass/0_utility/_helpers.scss */
.invisible {
  visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
/* line 84, ../sass/0_utility/_helpers.scss */
.clearfix:before, .outer-wrapper:before, .inner-wrapper:before,
.clearfix:after,
.outer-wrapper:after,
.inner-wrapper:after {
  content: "";
  display: table;
}

/* line 90, ../sass/0_utility/_helpers.scss */
.clearfix:after, .outer-wrapper:after, .inner-wrapper:after {
  clear: both;
}

/* line 96, ../sass/0_utility/_helpers.scss */
.clearfix, .outer-wrapper, .inner-wrapper {
  *zoom: 1;
}

/*  ==========================================================================
	Core Imports
	========================================================================== */
/*  ==========================================================================
    Vars
    ========================================================================== */
/*  ==========================================================================
    Web Fonts
    ========================================================================== */
/**
 * FOR REFERENCE: Font-weights by numeric value / name. Side note: it is recommended that we to use the numeric value here to help clarify exactly which weight is getting referenced to.
 * 100 = thin
 * 200 = extra-light
 * 300 = light
 * 400 = normal, book
 * 500 = medium
 * 600 = demi-bold / semi-bold
 * 700 = bold
 * 800 = heavy / extra-bold / heavy
 * 900 = black / extra-black / ultra-black
 * Generic (non-explicitly weighted fonts, like a font-icon). Just default to using a regular font-weight:
 */
/**
 * Include Icon Fonts
 */
@font-face {
  font-family: "Icomoon";
  src: url('../../fonts/icomoon/icomoon.eot');
  src: url('../../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'), url('../../fonts/icomoon/icomoon.woff') format('woff'), url('../../fonts/icomoon/icomoon.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "skitz";
  src: url('../../fonts/skitz.eot?1378672849');
  src: url('../../fonts/skitz.eot?&1378672849#iefix') format('embedded-opentype'), url('../../fonts/skitz.woff?1378672849') format('woff'), url('../../fonts/skitz.ttf?1378672849') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/**
 * Include Web Fonts
 */
@font-face {
  font-family: "OpenSans Light";
  src: url('../../fonts/openSans/openSans-light.eot?1401809622');
  src: url('../../fonts/openSans/openSans-light.eot?&1401809622#iefix') format('embedded-opentype'), url('../../fonts/openSans/openSans-light.woff?1401809622') format('woff'), url('../../fonts/openSans/openSans-light.ttf?1401809622') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans Light Italic";
  src: url('../../fonts/openSans/openSans-lightItalic.eot?1401809622');
  src: url('../../fonts/openSans/openSans-lightItalic.eot?&1401809622#iefix') format('embedded-opentype'), url('../../fonts/openSans/openSans-lightItalic.woff?1401809622') format('woff'), url('../../fonts/openSans/openSans-lightItalic.ttf?1401809622') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans Regular";
  src: url('../../fonts/openSans/openSans-regular.eot?1401809622');
  src: url('../../fonts/openSans/openSans-regular.eot?&1401809622#iefix') format('embedded-opentype'), url('../../fonts/openSans/openSans-regular.woff?1401809622') format('woff'), url('../../fonts/openSans/openSans-regular.ttf?1401809622') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans Italic";
  src: url('../../fonts/openSans/openSans-italic.eot?1401809622');
  src: url('../../fonts/openSans/openSans-italic.eot?&1401809622#iefix') format('embedded-opentype'), url('../../fonts/openSans/openSans-italic.woff?1401809622') format('woff'), url('../../fonts/openSans/openSans-italic.ttf?1401809622') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans Bold";
  src: url('../../fonts/openSans/openSans-bold.eot?1401809622');
  src: url('../../fonts/openSans/openSans-bold.eot?&1401809622#iefix') format('embedded-opentype'), url('../../fonts/openSans/openSans-bold.woff?1401809622') format('woff'), url('../../fonts/openSans/openSans-bold.ttf?1401809622') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans Bold Italic";
  src: url('../../fonts/openSans/openSans-bolditalic.eot?1401809622');
  src: url('../../fonts/openSans/openSans-bolditalic.eot?&1401809622#iefix') format('embedded-opentype'), url('../../fonts/openSans/openSans-bolditalic.woff?1401809622') format('woff'), url('../../fonts/openSans/openSans-bolditalic.ttf?1401809622') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans Semi Bold";
  src: url('../../fonts/openSans/openSans-semiBold.eot?1401809622');
  src: url('../../fonts/openSans/openSans-semiBold.eot?&1401809622#iefix') format('embedded-opentype'), url('../../fonts/openSans/openSans-semiBold.woff?1401809622') format('woff'), url('../../fonts/openSans/openSans-semiBold.ttf?1401809622') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans Semi Bold Italic";
  src: url('../../fonts/openSans/openSans-semiBoldItalic.eot?1401809622');
  src: url('../../fonts/openSans/openSans-semiBoldItalic.eot?&1401809622#iefix') format('embedded-opentype'), url('../../fonts/openSans/openSans-semiBoldItalic.woff?1401809622') format('woff'), url('../../fonts/openSans/openSans-semiBoldItalic.ttf?1401809622') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans Extra Bold";
  src: url('../../fonts/openSans/openSans-extraBold.eot?1401809622');
  src: url('../../fonts/openSans/openSans-extraBold.eot?&1401809622#iefix') format('embedded-opentype'), url('../../fonts/openSans/openSans-extraBold.woff?1401809622') format('woff'), url('../../fonts/openSans/openSans-extraBold.ttf?1401809622') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans Extra Bold Italic";
  src: url('../../fonts/openSans/openSans-extraBoldItalic.eot?1401809622');
  src: url('../../fonts/openSans/openSans-extraBoldItalic.eot?&1401809622#iefix') format('embedded-opentype'), url('../../fonts/openSans/openSans-extraBoldItalic.woff?1401809622') format('woff'), url('../../fonts/openSans/openSans-extraBoldItalic.ttf?1401809622') format('truetype');
  font-weight: 800;
  font-style: italic;
}
/**
 * Font Stacks
 */
/* line 1, ../sass/1_core/_layout.scss */
.outer-wrapper {
  position: relative;
  width: 100%;
}

/* line 6, ../sass/1_core/_layout.scss */
.inner-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
  width: 100%;
}

/*  ==========================================================================
	Other Imports (Pieces, Components, Regions, Layouts & Pages)
	========================================================================== */
/* No files to import found in 2_pieces/**\/* */
/* line 1, ../sass/3_components/_controls.scss */
.controls-container {
  width: 100%;
  position: absolute;
  top: 0;
}

/* line 7, ../sass/3_components/_controls.scss */
.logo {
  font-family: 'skitz', arial;
  cursor: pointer;
  color: #1A1A1A;
  font-size: 52px;
  -moz-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  -webkit-transition: all, 0.2s;
  transition: all, 0.2s;
}
/* line 14, ../sass/3_components/_controls.scss */
.logo:hover {
  color: #FF8330;
  text-shadow: 0 0 25px rgba(252, 123, 37, 0.9);
}

/* line 21, ../sass/3_components/_controls.scss */
.controls {
  width: 100%;
}
/* line 23, ../sass/3_components/_controls.scss */
.controls h2 {
  font-size: 16px;
  color: #fff;
}
/* line 28, ../sass/3_components/_controls.scss */
.controls #duration {
  font-size: 10px;
  color: #fff;
}
/* line 34, ../sass/3_components/_controls.scss */
.controls .current-time {
  font-family: arial;
  font-size: 12px;
  color: #fff;
}
/* line 40, ../sass/3_components/_controls.scss */
.controls .title-container {
  width: 100%;
}
/* line 45, ../sass/3_components/_controls.scss */
.controls .tracking-container {
  background: #000000;
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -3px;
  overflow: hidden;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 57, ../sass/3_components/_controls.scss */
.controls .progress-bar {
  height: 3px;
  width: 0;
  position: absolute;
  left: 0;
  overflow: hidden;
  font-family: 'dots', arial;
  font-size: 18px;
  background: #ff7921;
}
/* line 69, ../sass/3_components/_controls.scss */
.controls .loading-bar {
  height: 3px;
  width: 0;
  position: absolute;
  left: 0;
  overflow: hidden;
  font-family: 'dots', arial;
  font-size: 18px;
  background: #6b390a;
}

/* line 1, ../sass/3_components/_music.scss */
.music-container {
  width: 100%;
  margin: 85px 0;
  float: left;
}
/* line 6, ../sass/3_components/_music.scss */
.music-container .music-list {
  width: 825px;
  margin: 0 auto;
}
/* line 10, ../sass/3_components/_music.scss */
.music-container .music-list .track {
  float: left;
  position: relative;
  height: 250px;
  width: 250px;
  cursor: pointer;
  margin: 0 5px 35px 5px;
}
/* line 18, ../sass/3_components/_music.scss */
.music-container .music-list .track a {
  width: 100%;
  height: 100%;
  float: left;
}
/* line 23, ../sass/3_components/_music.scss */
.music-container .music-list .track a.selected:after {
  content: 'Playing Now';
  font-size: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  left: 10px;
  top: 10px;
  text-transform: uppercase;
  font-family: arial;
  padding: 8px 8px 5px 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 40, ../sass/3_components/_music.scss */
.music-container .music-list .track h2 {
  font-family: arial;
  font-size: 16px;
  margin: 7px 0;
  color: #000;
  float: left;
  text-align: center;
  width: 250px;
}

/* line 2, ../sass/4_regions/_contact.scss */
.contact-content .contact-column-left {
  float: left;
  width: 200px;
}
/* line 5, ../sass/4_regions/_contact.scss */
.contact-content .contact-column-left h1 {
  font-size: 32px;
  text-transform: uppercase;
  margin: 0 0 2px 0;
  font-family: 'dots', arial;
  text-shadow: 0 0 4px #eee;
}
/* line 14, ../sass/4_regions/_contact.scss */
.contact-content .contact-column-left h2 {
  font-size: 18px;
  margin: 0 0 5px 0;
}
/* line 19, ../sass/4_regions/_contact.scss */
.contact-content .contact-column-left a {
  font-size: 12px;
  display: block;
}
/* line 26, ../sass/4_regions/_contact.scss */
.contact-content .contact-column-right {
  float: left;
  width: 500px;
}
/* line 29, ../sass/4_regions/_contact.scss */
.contact-content .contact-column-right > h2 {
  font-size: 28px;
  text-transform: uppercase;
  margin: 0 0 8px 0;
  font-family: 'dots', arial;
  text-shadow: 0 0 4px #eee;
}
/* line 36, ../sass/4_regions/_contact.scss */
.contact-content .contact-column-right h3 {
  font-size: 18px;
  margin: 0 0 4px 0;
}
/* line 40, ../sass/4_regions/_contact.scss */
.contact-content .contact-column-right li {
  font-size: 12px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 5px 0 15px 0;
  width: 520px;
  float: left;
  position: relative;
}
/* line 51, ../sass/4_regions/_contact.scss */
.contact-content .contact-column-right li:before {
  content: " ";
  width: 4px;
  height: 100%;
  background: #ff8330;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 62, ../sass/4_regions/_contact.scss */
.contact-content .contact-column-right .content-left {
  float: left;
}
/* line 66, ../sass/4_regions/_contact.scss */
.contact-content .contact-column-right .bar {
  float: right;
}
/* line 70, ../sass/4_regions/_contact.scss */
.contact-content .contact-column-right .web-link {
  margin: 10px 0 0 0;
  float: left;
}

/* line 1, ../sass/4_regions/_featured.scss */
.featured-container {
  position: absolute;
  z-index: 0;
  background: #ddd;
}

/* line 8, ../sass/4_regions/_featured.scss */
.player-container {
  width: 960px;
  float: left;
  position: relative;
  margin: 10px 0 0 0;
}
/* line 14, ../sass/4_regions/_featured.scss */
.player-container .track-container {
  width: 420px;
  height: 275px;
  float: left;
  position: relative;
  overflow: hidden;
}
/* line 22, ../sass/4_regions/_featured.scss */
.player-container .track-list {
  position: absolute;
}
/* line 25, ../sass/4_regions/_featured.scss */
.player-container .track-list .track {
  float: left;
  position: relative;
  height: 250px;
  width: 250px;
  cursor: pointer;
  opacity: .7;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  margin: 0 15px;
}
/* line 35, ../sass/4_regions/_featured.scss */
.player-container .track-list .track a {
  width: 100%;
  height: 100%;
  float: left;
}
/* line 41, ../sass/4_regions/_featured.scss */
.player-container .track-list .track h2 {
  font-family: arial;
  font-size: 16px;
  margin: 7px 0;
  color: #000;
  float: left;
  text-align: center;
  width: 250px;
}
/* line 52, ../sass/4_regions/_featured.scss */
.player-container .track-list img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
/* line 60, ../sass/4_regions/_featured.scss */
.player-container .track-list .track-play-btn {
  border: 15px solid #fff;
  color: #fff;
  font-family: 'icon';
  font-size: 130px;
  position: absolute;
  width: 125px;
  height: 125px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  z-index: 3;
  top: 50%;
  left: 50%;
  margin: -77px 0 0 -77px;
  opacity: .7;
}
/* line 82, ../sass/4_regions/_featured.scss */
.player-container .track-list .selected:after {
  content: 'Current Track';
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  left: 20px;
  top: 20px;
  text-transform: uppercase;
  font-family: arial;
  padding: 8px 8px 5px 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

/* line 109, ../sass/4_regions/_featured.scss */
.next {
  font-family: 'icon';
  float: right;
  margin: 20px 2px 15px 10px;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  width: 45px;
  height: 45px;
  color: #353535;
  font-size: 24px;
  font-weight: bold;
  border: none;
  text-shadow: 0 1px #555;
  background: transparent;
  cursor: pointer;
}

/* line 125, ../sass/4_regions/_featured.scss */
.prev {
  font-family: 'icon';
  float: left;
  margin: 20px 10px 15px 0;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  width: 45px;
  height: 45px;
  color: #353535;
  font-size: 24px;
  font-weight: bold;
  border: none;
  text-shadow: 0 1px #555;
  background: transparent;
  cursor: pointer;
}

/* line 143, ../sass/4_regions/_featured.scss */
.next:hover, .prev:hover {
  opacity: 1;
  color: #FF8330;
  text-shadow: 0 0 5px rgba(252, 123, 37, 0.9);
  -webkit-box-shadow: none;
}

/* line 150, ../sass/4_regions/_featured.scss */
.play-btn {
  font-family: 'icon';
  width: 45px;
  height: 45px;
  float: left;
  cursor: pointer;
  margin: 7px 0 0 10px;
  color: #1A1A1A;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background: #333;
  /* Old browsers */
  border: 1px solid #222;
  text-shadow: 0 1px #555;
  -moz-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  -webkit-transition: all, 0.2s;
  transition: all, 0.2s;
  -moz-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #777;
}

/* line 174, ../sass/4_regions/_featured.scss */
.play-btn:hover {
  color: #FF8330;
  text-shadow: 0 0 5px rgba(252, 123, 37, 0.9);
  -webkit-box-shadow: none;
  border-bottom: 1px solid #333;
  background: #5f5f5f;
  background: -moz-linear-gradient(top, #999999 0%, #898989 1%, #454545 2%, #454545 97%, #111111 100%);
  background: -webkit-linear-gradient(top, #999999 0%, #898989 1%, #454545 2%, #454545 97%, #111111 100%);
  background: linear-gradient(to bottom, #999999 0%, #898989 1%, #454545 2%, #454545 97%, #111111 100%);
}

/* line 11, ../sass/4_regions/_footer.scss */
.footer-wrap {
  width: 100%;
  position: fixed;
  background: #222222;
  z-index: 900;
  height: 0;
  bottom: 0;
}

/* line 20, ../sass/4_regions/_footer.scss */
.contact-content {
  padding: 40px;
  font-size: 100px;
  color: #fff;
}

/* No files to import found in 5_layouts/**\/* */
/* No files to import found in 6_pages/**\/* */
